/* Variables */

:root {
    --primary: hsl(204, 86%, 53%);
    --danger: hsl(348, 100%, 61%);
    --success: hsl(141, 71%, 48%);
    --info: hsl(171, 100%, 41%);
  }


/* Helpers */

.w-50 {
    width: 50%;
}

.w-75 {
    width: 75%;
}

.w-80 {
    width: 80%;
}

.w-90 {
    width: 90%;
}

.w-100 {
    width: 100%;
}

.w-50 {
    width: 45%;
}

.mt-0 {
    margin-top: 0;
}

.mt-1 {
    margin-top: .5rem;
}

.mt-2{
    margin-top: 1.2rem;
}

.my-2{
    margin-top: 1.2rem!important;
    margin-bottom: 1.2rem!important;
}

.p1{
    padding:1rem;
}

.p2{
    padding:2rem;
}

.light-colour {
    color: gray;;
}

.text-left{
    text-align:left;
}

.text-danger {
    color: var(--danger);
}

.border {
    border:1px solid red;
}



/* classes & ides */

#contact-title { 
    text-align: center;
    background-color: var(--info);
    display: flex;
    justify-content: center;
}

.title {
    display:flex;
    text-align: left;
    padding: .5rem 0rem;
}


.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}


.inline-form-control {
    text-align: left;
}

.rows {
    border-radius: 3px;
    border:1px solid lightgray;
    padding:.8rem;
    font-size:17px;
}

.primary {    
    background-color: var(--primary);
    color:white;
}

.success {
    background-color: var(--success);
    color: white;
}

.border-danger {
    border : 1px solid var(--danger);
}

.border-success {
    border : 1px solid var(--success);
}

.danger {
    background-color: var(--danger);
    color:white;  
}

.invisible {
    display: none;
}

.submit-form {
    padding: 1rem;    
    border-radius: 5px;
    font-size: 17px;
    border:none;
}

.text-book {
    width: 100%;

}

.text-book-content {
    width: 100%;
    margin: auto;

    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {   
    padding: 1rem;     
    width: 30%;
    margin-bottom: 50px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 5px 1px #d7dddd; 
    box-shadow: 0px 0px 5px 1px #d7dddd;    
}

.titles, .contents {    
    padding: 10px;
    max-width: 100%;
    font-family: 'Roboto Serif', sans-serif;
    line-height: 30px;
}

.footer {
    padding: 10px;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
}

.titles h3 {
    padding: 0;
    margin: 0;
}



/* elements */
input{
    box-sizing: border-box;

}

body {
    margin: 0px;
    background-color: #f8f9fa;
}

h2 {
    text-align: center;
}

form {    
    text-align: center;
    margin: auto;
}

button {
    border: none;
    border-radius: 5px;
    font-size: 18px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}



/* Media Query */

/* iPad mini */
@media only screen and (max-width: 768px) {   

    .text-book-content {
        width: 100%;
    }

    .card {
        width: 40%;
    }

    .contents {
        height: 150px;
        padding-top: 2rem;
    }
    
    .w-50, form {
        width: unset;
        max-width: 67%;        
    }
}

/*  iPhone 12 pro */
@media only screen and (max-width: 390px) {   

    .text-book-content {
        max-width: 65%;
        flex-direction: column;  
        text-align: center;     
    }

    .card {
        width: 90%;
    }

    .contents {
        height: 150px;
        padding-top: 2rem;
    }
    
    .w-50, form {
        width: unset;
        max-width: 67%;        
    }
}





