/* Variables */
:root {
    --primary: hsl(204, 86%, 53%);
    --danger: hsl(348, 100%, 61%);
    --success: hsl(141, 71%, 48%);
    --info: #7d5daf;
    --font: 'Roboto Serif', sans-serif;
  }


/* Helpers */

.w-40 {
    width: 40%;
}

.w-50 {
    width: 50%;
}

.w-75 {
    width: 75%;
}

.w-80 {
    width: 80%;
}

.w-90 {
    width: 90%;
}

.w-100 {
    width: 100%;
}

.mt-0 {
    margin-top: 0;
}

.mt-1 {
    margin-top: .5rem;
}

.mt-2{
    margin-top: 1.2rem;
}

.mt-3 {
    margin-top:2rem;
}

.my-2{
    margin-top: 1.2rem!important;
    margin-bottom: 1.2rem!important;
}

.mx-1{
    margin-left: .5rem;
    margin-right: .5rem;
}

.text-center {
    text-align: center;
}

.rounded-5 {
    border-radius:5px;
}

.p1{
    padding:1rem;
}

.p2{
    padding:2rem;
}

.light-colour {
    color: gray;;
}

.text-left{
    text-align:left;
}

.text-danger {
    color: var(--danger);
}

.border-danger{
    border:1px solid red;
}

.bg-danger {
    background-color: var(--danger);
}

.bg-success {
    background-color:var(--success)
}

.text-light {
    color:rgb(241, 241, 241);
}

/*End of Helpers*/



/* classes & ID-es */
.name {
    display:flex;
    text-align: left;
    padding: .5rem 0rem;
}


.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}


.inline-form-control {
    text-align: left;
}

.rows {
    border-radius: 3px;
    border:1px solid lightgray;
    padding:.8rem;
    font-size:17px;
}

.primary {    
    background-color: var(--primary);
    color:white;
}

.success {
    background-color: var(--success);
    color: white;
}

.border-danger {
    border : 1px solid var(--danger);
}

.border-success {
    border : 1px solid var(--success);
}

.danger {
    background-color: var(--danger);
    color:white;  
}

.invisible {
    display: none;
}

.submit-form {
    padding: 1rem;    
    border-radius: 5px;
    font-size: 17px;
    border:none;
}

.cancel-form {
    padding: 1rem;    
    border-radius: 5px;
    font-size: 17px;
    border:none;
    background-color: #343a40;
    color: white;
    border: 1px solid var(--danger);
}

.buttons-action {
    display: flex;
    justify-content: space-between;
}

.text-book {
    width: 100%;
   
}

.text-book-content {
    width: 100%;
    margin: auto;

    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.card {   
    padding: 1rem;     
    width: 30%;
    margin-bottom: 50px;
    border-radius: 10px;
    border:1px solid rgb(231, 231, 231);
    transition-duration: 300ms;
    background-color: white;
    text-transform: capitalize; 
    
}

.card:hover {
    -webkit-box-shadow: 0px 0px 5px 1px #d7dddd; 
    box-shadow: 0px 0px 5px 3px #d6d6d6;
    transform: scale(1.01);   
     
}

.title, .contents {    
    padding: 10px;
    max-width: 100%;
    font-family: var(--font);
    line-height: 30px;
}

.footer {
    padding: 10px;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
}

.title h3 {
    padding: 0;
    margin: 0;
}

.title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.alert-container {
    height: 80px;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-image: url('https://images.ctfassets.net/lzny33ho1g45/4ODoWVyzgicvbcb6J9ZZZ5/89e33c333afa86e9e2864ba42833a5be/app-tips-google-forms-00-hero.png?w=1520&fm=jpg&q=30&fit=thumb&h=760');
    background-size: cover;
    background-position: center;
    margin-right: 20px;
}

/* Contact Title*/
.left {
    color: white;
    text-align: center;
}

/* div wrapper for NavBar*/
.contact-title {
    background-color: var(--info);
    display: flex;
    justify-content: space-between;
    /* position: fixed; */
    /* z-index: 1000; */
}


/* Button for contacts at NavBar*/
.centre {
    display: flex;
    justify-content: center;
}

.addContact {
    margin: auto;
    font-size: 15px;
    border-radius: 5px;
    background-color: white;
    color: black;  
}


/*search bar*/
.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search-bar {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.search-form {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.search-form input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 0.8rem;
}

.search-form button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 0.63rem;
}

.search-bar {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

/* End of NavBar*/

/* Modal*/
.backdrop{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    padding-top : 10%;
    position: fixed;
    top: 0px;
    z-index: 999; 
    transition-duration: 300ms;
}

::-webkit-scrollbar {
    display: none;
}
/*End of Modal*/



/* elements */
input{
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: var(--font);
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23b0b0b0' fill-opacity='0.12' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

h2 {
    text-align: center;
}

form {    
    text-align: center;
    margin: auto;
    border: 1px solid rgb(231, 231, 231);
    border-radius: 5px;
    padding: 1rem;
    background-color: rgb(249, 250, 250);
    font-family: var(--font);
}

button:hover {
    box-shadow: 0 5px 15px rgba(95, 94, 95, 0.4);
  }

button {
    border: none;
    border-radius: 5px;
    font-size: 18px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor:pointer;
}



/* Media Query */

/* xxl = extra extra large */
@media (min-width: 1400px) {    
    .text-book {
        font-size: 20px;
    }

    .text-book-content {
        width: 100%;
    }

    .card {
        width: 25%;
        justify-content: space-evenly;
    }

    .contents {
        height: 150px;
        padding-top: 2rem;
    }

    .mobile-xxl {
        width: 30%;
    }

    .footer {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    .content{
        width: unset;
    }

    .test {
        width: 50%;
    }

}

/* xl = extra large */
@media (min-width: 1200px) and (max-width: 1399px) {

    .text-book-content {
        width: 100%;
    }

    .card {
        width: 40%;
    }

    .contents {
        height: 150px;
        padding-top: 2rem;
    }

    .mobile-xl {
        width: 50%;
    }
    
}

/* lg = large */
@media (min-width: 992px) and (max-width: 1199px) {
    .text-book-content {
        width: 100%;
    }

    .card {
        width: 40%;
    }

    .contents {
        height: 150px;
        padding-top: 2rem;
    }

    .mobile-l {
        width: 92%;
    }

}

/* md = medium */
@media (min-width: 768px) and (max-width: 991px) {

    .text-book-content {
        width: 100%;
    }

    .card {
        width: 40%;
    }

    .contents {
        height: 150px;
        padding-top: 2rem;
    }

    .mobile-m {
        width: 80%;
    }
}

/* sm = small */
 @media (min-width: 576px) and (max-width: 767px) {   

    .text-book-content {
        width: 100%;
    }

    .card {
        width: 40%;
    }

    .contents {
        height: 150px;
        padding-top: 2rem;
    }

    .mobile-s {
        width: 95%;
    }

} 

/*  XS = extra small */
@media only screen and (max-width: 575px) {   

    /* nav Bar*/
    .contact-title {
        display: flex;
        flex-direction: column;
    }

    .left {
        display: none;
    }
    
    .centre {
        height: 60px;
    }

    .addContact {
        height: 50px;
        width: 95%;
        font-size: 20px;
    }

    .right {
        align-items: center;
        margin-bottom: 10px;
    }

    .search-form {
        width: 95%;
        margin-top: 10px;
    }
     /*End of Nav Bar*/

    .text-book-content {
        width: 100%;
        flex-direction: column;  
        text-align: left;  
        /* margin-top: 60px; */
    }

    .card {
        width: 80%;
        margin: auto;
        margin-top: 2rem;
    }

    .contents {
        height: 150px;
        padding-top: 2rem;
    }
    
    .mobile-xs {
        width: 80%;
    }
    
}







