/* Variables */
:root {
    --primary: hsl(204, 86%, 53%);
    --danger: hsl(348, 100%, 61%);
    --success: hsl(141, 71%, 48%);
    --info: #7d5daf;
    --font: 'Roboto Serif', sans-serif;
  }


/* Helpers */

.w-40 {
    width: 40%;
}

.w-50 {
    width: 50%;
}

.w-75 {
    width: 75%;
}

.w-80 {
    width: 80%;
}

.w-90 {
    width: 90%;
}

.w-100 {
    width: 100%;
}

.mt-0 {
    margin-top: 0;
}

.mt-1 {
    margin-top: .5rem;
}

.mt-2{
    margin-top: 1.2rem;
}

.mt-3 {
    margin-top:2rem;
}

.my-2{
    margin-top: 1.2rem!important;
    margin-bottom: 1.2rem!important;
}

.mx-1{
    margin-left: .5rem;
    margin-right: .5rem;
}

.text-center {
    text-align: center;
}

.rounded-5 {
    border-radius:5px;
}

.p1{
    padding:1rem;
}

.p2{
    padding:2rem;
}

.light-colour {
    color: gray;;
}

.text-left{
    text-align:left;
}

.text-danger {
    color: var(--danger);
}

.border-danger{
    border:1px solid red;
}

.bg-danger {
    background-color: var(--danger);
}

.bg-success {
    background-color:var(--success)
}

.text-light {
    color:rgb(241, 241, 241);
}



/* classes & ID-es */

#contact-title { 
    text-align: center;
    background-color: var(--info);
    display: flex;
    justify-content: center;
}

.name {
    display:flex;
    text-align: left;
    padding: .5rem 0rem;
}


.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}


.inline-form-control {
    text-align: left;
}

.rows {
    border-radius: 3px;
    border:1px solid lightgray;
    padding:.8rem;
    font-size:17px;
}

.primary {    
    background-color: var(--primary);
    color:white;
}

.success {
    background-color: var(--success);
    color: white;
}

.border-danger {
    border : 1px solid var(--danger);
}

.border-success {
    border : 1px solid var(--success);
}

.danger {
    background-color: var(--danger);
    color:white;  
}

.invisible {
    display: none;
}

.submit-form {
    padding: 1rem;    
    border-radius: 5px;
    font-size: 17px;
    border:none;
}

.text-book {
    width: 100%;
   
}

.text-book-content {
    width: 100%;
    margin: auto;

    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.card {   
    padding: 1rem;     
    width: 30%;
    margin-bottom: 50px;
    border-radius: 10px;
    border:1px solid rgb(231, 231, 231);
    transition-duration: 300ms;
    background-color: white;
    
}

.card:hover {
    -webkit-box-shadow: 0px 0px 5px 1px #d7dddd; 
    box-shadow: 0px 0px 5px 3px #d6d6d6;
    transform: scale(1.01);   
     
}

.title, .contents {    
    padding: 10px;
    max-width: 100%;
    font-family: var(--font);
    line-height: 30px;
}

.footer {
    padding: 10px;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
}

.title h3 {
    padding: 0;
    margin: 0;
}

.title{
    display: flex;
    justify-content: flex-start;

    align-items: center;
}

.alert-container {
    height: 70px;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius:50%;
    background-image: url('https://images.ctfassets.net/lzny33ho1g45/4ODoWVyzgicvbcb6J9ZZZ5/89e33c333afa86e9e2864ba42833a5be/app-tips-google-forms-00-hero.png?w=1520&fm=jpg&q=30&fit=thumb&h=760');
    background-position: center;
    background-size: cover;
    margin-left: 10px;
}


/* elements */
input{
    box-sizing: border-box;

}

body {
    margin: 0px;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23b0b0b0' fill-opacity='0.12' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

h2 {
    text-align: center;
}

form {    
    text-align: center;
    margin: auto;
    border: 1px solid rgb(231, 231, 231);
    border-radius: 5px;
    background-color: rgb(249, 250, 250);
    font-family: var(--font);
}

button:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
  }

button {
    border: none;
    border-radius: 5px;
    font-size: 18px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor:pointer;
}



/* Media Query */

/* xxl = extra extra large */
@media (min-width: 1400px) {    
    .text-book {
        font-size: 20px;
    }

    .text-book-content {
        width: 70%;
    }

    .card {
        width: 20%;
        margin : auto;
        margin-top: 2rem;
        justify-content: space-evenly;
    }

    .contents {
        height: 150px;
        padding-top: 2rem;
    }

    .w-50 {
        width: 30%;
    }

    .footer {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    .content{
        width: unset;
    }

    .test {
        width: 50%;
    }

}

/* xl = extra large */
@media (min-width: 1200px) and (max-width: 1399px) {

    .text-book-content {
        width: 100%;
    }

    .card {
        width: 40%;
    }

    .contents {
        height: 150px;
        padding-top: 2rem;
    }

    .w-50 {
        width: 50%;
    }
    
}

/* lg = large */
@media (min-width: 992px) and (max-width: 1199px) {
    .text-book-content {
        width: 100%;
    }

    .card {
        width: 40%;
    }

    .contents {
        height: 150px;
        padding-top: 2rem;
    }

    .w-50 {
        width: 92%;
    }

}

/* md = medium */
@media (min-width: 768px) and (max-width: 991px) {

    .text-book-content {
        width: 100%;
    }

    .card {
        width: 40%;
    }

    .contents {
        height: 150px;
        padding-top: 2rem;
    }

    .w-50 {
        width: 92.7%;
    }
}

/* sm = small */
 @media (min-width: 576px) and (max-width: 767px) {   

    .text-book-content {
        width: 100%;
    }

    .card {
        width: 40%;
    }

    .contents {
        height: 150px;
        padding-top: 2rem;
    }

    .w-50 {
        width: 95%;
    }

} 

/*  XS = extra small */
@media only screen and (max-width: 575px) {   

    .text-book-content {
        width: 100%;
        flex-direction: column;  
        text-align: left;  
    }

    .card {
        width: 80%;
        margin: auto;
        margin-top: 2rem;
    }

    .contents {
        height: 150px;
        padding-top: 2rem;
    }
    
    .w-50 {
        width: 90%;
    }
    
}





